{
    "extends": "stylelint-config-recommended",
    "ignoreFiles": ["**/css/*.css"],
    "plugins": [
      "stylelint-order"
    ],
    "rules": {
      "selector-nested-pattern": "^&",
      "color-named": "never",
      "font-family-name-quotes": "always-where-recommended",
      "font-weight-notation": "named-where-possible",
      "function-comma-space-after": "always",
      "number-leading-zero": "never",
      "number-max-precision": 2,
      "string-quotes": "double",
      "value-keyword-case": "lower",
      "value-list-comma-space-after": "always",
      "declaration-no-important": true,
      "declaration-block-semicolon-newline-after": "always",
      "declaration-block-semicolon-newline-before": "never-multi-line",
      "block-opening-brace-newline-before": "never-single-line",
      "block-opening-brace-space-before": "always-single-line",
      "selector-attribute-quotes": "always",
      "selector-max-compound-selectors": 25,
      "selector-no-qualifying-type": true,
      "selector-list-comma-newline-after": "always",
      "selector-list-comma-newline-before": "never-multi-line",
      "selector-pseudo-class-no-unknown": [true, {"ignorePseudoClasses": ["global"]}],
      "at-rule-name-newline-after": "always-multi-line",
      "at-rule-no-unknown": true,
      "indentation": 4,
      "no-unknown-animations": true,
      "property-no-unknown": [true, {
        "ignoreProperties": ["current-skin", "composes"]
      }],
      "value-no-vendor-prefix": true,
      "order/properties-order": [
        [
          "composes",
          "content",
          "position",
          "z-index",
          "top",
          "right",
          "bottom",
          "left",
          "display",
          "flex-direction",
          "flex-wrap",
          "flex-flow",
          "align-items",
          "justify-content",
          "align-content",
          "order",
          "flex-grow",
          "flex-shrink",
          "flex-basis",
          "flex",
          "align-self",
          "float",
          "clear",
          "overflow",
          "box-sizing",
          "min-width",
          "max-width",
          "width",
          "min-height",
          "max-height",
          "height",
          "padding",
          "padding-top",
          "padding-right",
          "padding-bottom",
          "padding-left",
          "border",
          "border-top",
          "border-right",
          "border-bottom",
          "border-left",
          "border-radius",
          "margin",
          "margin-top",
          "margin-right",
          "margin-bottom",
          "margin-left",
          "transform",
          "background",
          "color",
          "box-shadow",
          "opacity",
          "outline",
          "font-family",
          "font-size",
          "line-height",
          "font-weight"
        ],
        { "unspecified": "bottom" }
      ]
    }
  }
  